body {
  background-color: black;
  color : white;
  font-family: "Roboto", sans-serif;
}

h2 {
    color: red;  /* css dosyasında açıklama satırım... */
    font-size: 74px;
  }
  p {
    color: black;
    font-size: 40px;
  }
  